<p-carousel [value]="carousel" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="5000"
  [responsiveOptions]="responsiveOptions">
  <ng-template let-carousel pTemplate="item">
    <div class="product-item border_top">
      <div class="product-item-content">
        <div class="mb-3 relative">
          <img src="assets/img/carousel1.jpg" class="w-full" />
          <span class="absolute top-0 bottom-0 left-0 right-0 bg-gray-500"></span>
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>
