<div class="px-4">
  <p-carousel [value]="documentos" [numVisible]="2" [numScroll]="2" [circular]="false" [showIndicators]="false"
    [responsiveOptions]="responsiveOptions">
    <ng-template let-doc pTemplate="item">
      <div class="product-item p-4 bg-gray-800">
        <div class="product-item-content">
          <div class="mb-3">
            <img src="assets/img/infografia.png" [alt]="doc.name" class="product-image" />
          </div>
          <h4 class="text-center text-white text-md">{{doc.page}}</h4>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
