<div class="container container_vid">

    <div class="main-video-container">
      <video  #remoteVideo autoplay="autoplay" [src]="this.videoActual" loop controls class="main-video"></video>
      <h3 class="main-vid-title">house flood animation</h3>
    </div>

    <div class="video-list-container">
      <div  *ngFor="let item of videos; let i = index" class="list {{item.active}}">
          <video src="{{item.videos}}" (click)="verVideo(item)" class="list-video"></video>
          <h3 class="list-title">{{item.label}}</h3>
      </div>
    </div>

</div>










