
<div class="relative h-full w-full p-4" >
  <div class="w-100p flex border items-center justify-between rounded-full py-2 px-4 bg-degrade">
    <h6 class="text-sm font-semibold ml-3 text-white">
      FIRMA DIGITAL MASIVA E INDIVIDUAL
    </h6>
    <button class="rounded-full  px-4 py-2  uppercase text-xs" style="background: #fff;">
      Manual de Usuario
    </button>
  </div>

  <div class="grid grid-cols-5 gap-4 h-full mt-4" >
    <div class="col-span-2 flex justify-center flex-col items-center pb-5" style="box-shadow: 0px 0 30px rgb(1 41 112 / 10%);">
      <form >
        <div class="pt-5">
          <img src="https://app.ingemmet.gob.pe/serviciosenlinea/vvirtual/Content/Attached/Images/logo-ingemmet.png"
            alt="logo" class="h-18" />
        </div>

        <h3 class="font-bold text-3xl mt-2 text-degrade">
          Bienvenido de nuevo
        </h3>
        <h3 class="text-sm text-gray-600 mt-2">
          Ingrese su usuario y contraseña para iniciar sesión
        </h3>
        <div class="mt-4">
          <label class="font-bold" for="usuario">Usuario</label>
          <input type="text" [(ngModel)]="user.usuario" name="usuario" class="rounded-lg border border-gray-300 w-full mt-3" id="usuario"
            placeholder="Nombre de usuario" />
        </div>
        <div class="mt-4">
          <label class="font-bold" for="contraseña">Contraseña</label>
          <input class="rounded-lg border border-gray-300 w-full mt-3" [(ngModel)]="user.pass" name="pass" type="password" id="contraseña"
            placeholder="Contraseña" />
        </div>

        <div class="mt-4">
          <p-inputSwitch [(ngModel)]="checked" name="recordar"></p-inputSwitch>
          <label class="px-3" for="recordar">Recúerdame</label>
        </div>

        <div >
          <button class="rounded-lg bg-degrade text-white w-full mt-4 py-2" (click)="login()" type="button" >
            INICIAR SESIÓN
          </button>
        </div>
      </form>
      <div class="row">
        <div class="col-lg-12">
         
        </div>
      </div>
    </div>
    <div class="col-span-3">
      <img
        src="https://s3.amazonaws.com/rtvc-assets-canalinstitucional.tv/s3fs-public/2022-01/manos%20laptop%20sacar%20rut%20por%20internet.jpg"
        alt="Logo" class="rounded-lg w-full" />
    </div>
    <div class="col-span-5 flex justify-center gap-8 py-3" >
      <a href="https://www.facebook.com/INGEMMET " target="blank">
        <i class="pi pi-facebook"></i></a>
      <a href="https://twitter.com/ingemmetperu" target="_blank"><i class="pi pi-twitter"></i></a>
      <a href="https://youtube.com/user/IngemmetTV" target="_blank"><i class="pi pi-youtube"></i></a>
      <a href="https://www.linkedin.com/company/ingemmetperu/" target="_blank"><i class="pi pi-linkedin"></i></a>
      <a href="https://www.instagram.com/ingemmet.peru/" target="_blank"><i class="pi pi-instagram"></i></a>
    </div>
    <div class="col-span-5 flex justify-center pb-3">
      <h6 class="text-center text-sm">
        Copyright © 2022
        <h2 class="text-degrade font-extrabold text-sm">INGEMMET</h2>
        Todos los derechos reservados.
      </h6>
    </div>
  </div>
</div>
