<div class="px-4">
  <p-table [value]="agenda" styleClass="p-datatable-gridlines" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>CODIGO</th>
        <th>TEMA</th>
        <th>EXPOSITOR</th>
        <th>DIRECCIÓN</th>
        <th>EVENTO</th>
        <th>LUGAR</th>
        <th>FECHA</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-evento>
      <tr>
        <td>
          <h6 class="text-blue-500 text-center font-bold">
            {{evento.codigo}}
          </h6>
        </td>
        <td>
          <h5 class="text-gray-500 font-bold">{{evento.tema}}</h5>
        </td>
        <td>
          <h5 class="text-gray-500 font-bold">{{evento.expositor}}</h5>
        </td>
        <td>
          <h5 class="text-gray-500 font-bold">{{evento.direccion}}</h5>
        </td>
        <td>
          <h5 class="text-gray-500 font-bold">{{evento.evento}}</h5>
        </td>
        <td>
          <h5 class="text-gray-500 font-bold">{{evento.lugar}}</h5>
        </td>
        <td>
          <h5 class="text-gray-500 font-bold">{{evento.fecha}}</h5>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
