<div class="px-4">
  <p-table [value]="agenda" styleClass="p-datatable-gridlines" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>CODIGO</th>
        <th>TEMA</th>
        <th>EXPOSITOR</th>
        <th>DIRECCIÓN</th>
        <th>EVENTO</th>
        <th>LUGAR</th>
        <th>FECHA</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-evento>
      <tr>
        <td>{{evento.codigo}}</td>
        <td>{{evento.tema}}</td>
        <td>{{evento.expositor}}</td>
        <td>{{evento.direccion}}</td>
        <td>{{evento.evento}}</td>
        <td>{{evento.lugar}}</td>
        <td>{{evento.fecha}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
