<!--autoplay-->
<div class="grid grid-cols-3 gap-2 mb-4">
  <div class="col-span-3 relative">
    <video *ngIf="!videoHome" id="player"
      class="w-full max-w-full h-auto rounded-lg border border-gray-500 shadow-sm p-1"
      poster="https://images.unsplash.com/photo-1622645636770-11fbf0611463?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8bWluYXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60"
      controls>
      <source src="https://portal.ingemmet.gob.pe/documents/59082/1045818/SGP.mp4" type="video/mp4">
      Su navegador no soporta la etiqueta de vídeo.
    </video>
    <video *ngIf="videoHome" [src]="videoHome.video" id="player"
      class="w-full max-w-full h-auto rounded-lg border border-gray-500 shadow-sm p-1" controls></video>
    <div class="absolute top-1/2 left-1/2">
      <button id="playBtn" (click)="playVideo()"
        class="w-14 h-14 rounded-full -translate-x-1/2 -translate-y-1/2 flex justify-center items-center border-2 border-gray-900">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.348a1.125 1.125 0 010 1.971l-11.54 6.347a1.125 1.125 0 01-1.667-.985V5.653z" />
        </svg>
      </button>
    </div>
  </div>

</div>
