
<h4 class="text-xl font-bold my-2">ULTIMAS NOTICIAS</h4>

<div class="row g-4 justify-content-center">
  <ng-container *ngIf="loadingNoticias">
      <div class="spinner-grow text-primary" role="status"> <span class="visually-hidden">Loading...</span></div>
  </ng-container>
  
  <ng-container *ngIf="!loadingNoticias">
    <div class="col-lg-12 col-md-12 wow fadeInUp" *ngFor="let item of noticias" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
        <div class="causes-item d-flex flex-column  shadow-sm rounded-top overflow-hidden h-100">
            <div class="text-center pl-2 pr-2">
              <h6 class="mt-3 mb-3" >{{item.titulos}}</h6>
              <div class="position-relative mt-auto">
                      <a href="{{item.rutaNoticias}}" target="_blank">
                        <img class="img-fluid" src="{{item.imgUrl}}" alt="">   
                      </a>               
              </div>
            </div>
            <small class="text-right mt-2 pb-2 pr-4">{{item.publication}}</small> 
        </div>
    </div>
    <button [routerLink]="'/sistema-de-gestion/noticias'" routerLinkActive="active" class="">Mas Noticias</button>
  </ng-container>
   
</div>

