
<h4 class="text-xl font-bold my-2">ULTIMAS NOTICIAS</h4>
<nav class="header-nav ms-auto">
  <ul class="align-items-center">
      <li  *ngFor="let item of noticias" class="message-item mb-2" >
        <a class="row shadow-sm bg-white rounded pb-2" href="#">
          <div class="col-lg-4">
             <img  src="https://images.unsplash.com/photo-1546422904-90eab23c3d7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80" alt="" class="img-fluid">
          </div>
          <div class="col-lg-8">
              <strong>Noticias</strong> <br>
              
          </div>
          <div class="col-lg-12">
            <small> {{ item.texto }}</small>
            <small class="text-left"> {{item.hora}}</small>
          </div>
        </a>
      </li>
  </ul>
</nav>