<!--<div class="mt-4 p-4 bg_blanco">
  <div class="grid grid-cols-3 gap-2">
    <div class="col-span-2">
      <input
        class="w-full py-1"
        type="text"
        placeholder="Nombres..."
        pInputText
      />
    </div>
    <button
      type="button"
      class="bg-text-color py-1 bg-gray-100 hover:bg-gray-200 rounded-lg font-nbold"
    >
      Buscar
    </button>
  </div>

  <div class="grid grid-cols-1 gap-2 mt-4">
    <div class="flex">
      <i class="bi bi-telephone-fill"></i>
      <h6 class="text-sm ml-2"><strong>Directorio Telefónico</strong></h6>
    </div>
    <a href="#" class="ml-2 text-xs "
      >
      <strong>INGEMMENT</strong> - Directorio telefónico</a
    >
    <a href="#" class="ml-2 text-xs"
      ><strong>MINEM</strong> - Directorio Telefónico</a
    >
  </div>
</div>
-->

<div class="mt-5 ml-2 mr-2">
  <div class="card pt-2 bg_blanco">
    <div class="col-lg-12 label mt-1">
      <h6 class="ml-3 pb-2" style="font-weight: 600;"><i class="bi bi-telephone-fill"></i> Directorio Telefónico</h6>
      <div class="row p-2 justify-content-center">
        <div class="col-lg-12 label">
          <p class="ml-3 pb-2"><a (click)="descargar(ingemmetDir)"
              style="font-weight: 500; cursor: pointer;">INGEMMENT</a> - Directorio
            telefónico</p>
          <p class="ml-3 pb-2"><a (click)="descargar(minemDir)" style="font-weight: 500; cursor: pointer;">MINEM</a> -
            Directorio
            telefónico</p>
        </div>
      </div>
    </div>

    <div class="row p-2 justify-content-center">
      <p-listbox [options]="directorio" [filter]="true" [listStyle]="{'max-height':'250px'}" optionLabel="nombre">
        <ng-template let-country pTemplate="item">
          <div class="country-item">

            <p class="ml-3" style="line-height: 11px;"> <strong>{{country.unidadOrganica}}: </strong> <small
                class="small">{{country.nombre}} {{country.apellido}}</small></p>
            <p class="ml-3" style="line-height: 11px;"> <strong>Sede: {{country.sede}}: N° Anexo: </strong> <small
                class="small"> {{country.nroAnexo}} </small></p>
          </div>
        </ng-template>
      </p-listbox>

    </div>
    <div class="row p-2 justify-content-center">
      <div class="col-lg-12 label">
        <h6 class="ml-1 pb-2" style="font-weight: 600;"><i class="bi bi-link-45deg"></i>Enlaces de Interes</h6>
      </div>
      <div *ngFor="let item of listEnlaces" class="col-lg-12 label">
        <p class="ml-3"> <a href="{{item.enlace}}" class="ml-2" target="_blank">- {{item.nombre}}</a></p>
      </div>

    </div>


  </div>
</div>
