<div class="mt-4 p-4 bg_blanco">
  <div class="grid grid-cols-3 gap-2">
    <div class="col-span-2">
      <input
        class="w-full py-1"
        type="text"
        placeholder="Nombres..."
        pInputText
      />
    </div>
    <button
      type="button"
      class="bg-text-color py-1 bg-gray-100 hover:bg-gray-200 rounded-lg font-nbold"
    >
      Buscar
    </button>
  </div>

  <div class="grid grid-cols-1 gap-2 mt-4">
    <div class="flex">
      <i class="bi bi-telephone-fill"></i>
      <h6 class="text-sm ml-2"><strong>Directorio Telefónico</strong></h6>
    </div>
    <a href="#" class="ml-2 text-xs "
      >
      <strong>INGEMMENT</strong> - Directorio telefónico</a
    >
    <a href="#" class="ml-2 text-xs"
      ><strong>MINEM</strong> - Directorio Telefónico</a
    >
  </div>
</div>



