<section class="section dashboard">
  <!--
  <div class="flex border items-center rounded-xl py-2 px-4 lg:px-8 bg-primary-gradient shadow-lg md-4">
    <p class="text-3xl text-white">Sistemas de Gestión</p>
  </div>-->

  <router-outlet></router-outlet>
    <!--
  <div class="card">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" style="display: flex;">
          <a *ngFor="let item of rutasComp" [routerLink]="item.ruta" routerLinkActive="active"
            class="nav-link"
          >
          <i class="{{item.icon}}"></i> <strong class="ml-3">{{ item.name }}</strong>
          </a>
        </li>
    </ul>
 

      
  </div>-->
</section>
