<div class="contenedor bg-gray" >   
    <p-tabMenu [model]="scrollableItems" [scrollable]="true" [activeItem]="activeItem2"></p-tabMenu>

        <ng-container *ngIf="!cargando">
            <p-tabView class="mt-3" >
                <p-tabPanel *ngFor="let item of submenu" header="{{item.nombre}}"> <!---->
                    <div class="p-4">
                        <div class="px-8">
                            <div [innerHTML]="item.textohtml"></div>
                        </div>
                        <p-tabView class="px-8">
                            <p-tabPanel *ngFor="let itemHijo of item.subHijos" header="{{itemHijo.nombre}}">
                            <div [innerHTML]="itemHijo.textohtml">
                                
                            </div>
                            </p-tabPanel>
                        </p-tabView>
                </div>
                </p-tabPanel>
            </p-tabView>
        </ng-container>

    <!-- <ng-container *ngIf="cargando" class="d-flex justify-content-center w-100">

        <p-progressSpinner styleClass="custom-spinner"></p-progressSpinner>

    </ng-container> -->
</div>