<div class="p-4">
  <div class="px-8">
    <h4 class="text-2xl uppercase font-bold mb-4">INTRODUCCIÓN</h4>
    <p class="mb-2 text-xl justify-text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis quaerat
      eius optio animi modi unde ad eveniet obcaecati beatae, aperiam
      exercitationem incidunt, perferendis asperiores, iusto eaque aliquid nam
      praesentium molestias.
    </p>
    <p class="mb-2 text-xl justify-text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui, officiis
      delectus error consectetur voluptate doloremque similique nam eos. In
      dolorem, blanditiis natus iusto laboriosam deserunt dolor. Quaerat,
      tempora expedita? Laboriosam facere id possimus impedit pariatur
      necessitatibus suscipit eveniet. Neque excepturi distinctio hic aut
      consequatur eum, magni labore, nam mollitia necessitatibus deleniti, nihil
      saepe delectus! Laudantium deleniti deserunt est, iste quas officia, esse
      velit, fugit commodi nam corrupti cupiditate temporibus necessitatibus
      quaerat minima tenetur omnis provident consequatur unde.
    </p>

    <img src="assets/img/imagen.jpg" alt="" />
  </div>
</div>
