<div class="bg-primary text-white">
  <div class="flex justify-center">
    <div class="avatar">
    </div>
  </div>
  <div class="flex justify-center my-4">
    <h6 class="text-center">Fulanito Menganito Perez Perez</h6>
  </div>
  <div class="w-full px-4">
    <div class="grid grid-cols-1 text-gray-900">
      <a href="#" class="my-1 py-1 text-center list-group-item list-group-item-action rounded-lg">Inicio</a>
      <a href="#" class="my-1 py-1 text-center list-group-item list-group-item-action rounded-lg">Institucional</a>
      <a href="#" class="my-1 py-1 text-center list-group-item list-group-item-action rounded-lg">Minería</a>
      <a href="#" class="my-1 py-1 text-center list-group-item list-group-item-action rounded-lg">Geología</a>
      <a href="#" class="my-1 py-1 text-center list-group-item list-group-item-action rounded-lg">Administración</a>
      <a href="#" class="my-1 py-1 text-center list-group-item list-group-item-action rounded-lg">Sistema de
        Gestión</a>
      <a href="#" class="my-05 py-1 text-center list-group-item list-group-item-action rounded-lg">Tecnología</a>
    </div>
  </div>
  <div class="d-flex flex-column flex-grow-1 p-4">
    <app-directorio-telefonico></app-directorio-telefonico>
  </div>
  <div class="d-flex">
    Buzón de Sugerencias
  </div>
</div>
