<p-carousel
  [value]="carousel"
  [numVisible]="1"
  [numScroll]="1"
  [circular]="true"
  [showIndicators]="false"
  [autoplayInterval]="3000"
  [responsiveOptions]="responsiveOptions"
  [showNavigators]="false"
>
  <ng-template let-carousel pTemplate="item">
    <div class="product-item">
      <div class="product-item-content">
        <div class="mb-3">
          <img src="assets/img/carousel.png" class="w-full" />
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>

<!-- <div id="default-carousel" class="w-full relative" data-carousel="static">

  <div class="relative h-56 overflow-hidden rounded-lg md:h-92">
    <div class="duration-700 ease-in-out absolute inset-0 transition-all transform translate-x-0 z-20"
      data-carousel-item="">
      <span
        class="absolute text-2xl font-semibold text-white -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 sm:text-3xl dark:text-gray-800">First
        Slide</span>
      <img src="assets/img/carousel.png"
        class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
    </div>
    <div class="duration-700 ease-in-out absolute inset-0 transition-all transform translate-x-full z-10"
      data-carousel-item="">
      <img src="assets/img/carousel.png"
        class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
    </div>
    <div class="duration-700 ease-in-out absolute inset-0 transition-all transform -translate-x-full z-10"
      data-carousel-item="">
      <img src="assets/img/carousel.png"
        class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
    </div>
  </div>

  <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
    <button type="button" class="w-3 h-3 rounded-full bg-white dark:bg-gray-800" aria-current="true"
      aria-label="Slide 1" data-carousel-slide-to="0"></button>
    <button type="button"
      class="w-3 h-3 rounded-full bg-white/50 dark:bg-gray-800/50 hover:bg-white dark:hover:bg-gray-800"
      aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
    <button type="button"
      class="w-3 h-3 rounded-full bg-white/50 dark:bg-gray-800/50 hover:bg-white dark:hover:bg-gray-800"
      aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
  </div>

  <button type="button"
    class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-prev="">
    <span
      class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
      <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none"
        stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
      </svg>
      <span class="sr-only">Previous</span>
    </span>
  </button>
  <button type="button"
    class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-next="">
    <span
      class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
      <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none"
        stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
      </svg>
      <span class="sr-only">Next</span>
    </span>
  </button>
</div> -->
<div class="w-full grid grid-cols-5 gap-8 p-4">
  <div class="col-span-2">
    <div class="grid grid-cols-4 gap-4">
      <span
        *ngFor="let item of servicios"
        class="flex flex-col justify-center py-2 lg:py-4 px-2 lg:px-4 mb-4 text-center bg-gray-700 rounded-lg text-3xs md:text-2xs lg:text-xs text-white uppercase"
      >
        <div class="flex justify-center mb-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-8 h-8"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 3.75H6.912a2.25 2.25 0 00-2.15 1.588L2.35 13.177a2.25 2.25 0 00-.1.661V18a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18v-4.162c0-.224-.034-.447-.1-.661L19.24 5.338a2.25 2.25 0 00-2.15-1.588H15M2.25 13.5h3.86a2.25 2.25 0 012.012 1.244l.256.512a2.25 2.25 0 002.013 1.244h3.218a2.25 2.25 0 002.013-1.244l.256-.512a2.25 2.25 0 012.013-1.244h3.859M12 3v8.25m0 0l-3-3m3 3l3-3"
            />
          </svg>
        </div>
        <p class="grow">{{ item.title }}</p>
      </span>
    </div>
  </div>
  <div class="col-span-3">
    <div class="grid grid-cols-3 gap-4">
      <div>
        <h4 class="text-xl font-bold my-2">REDES SOCIALES</h4>
        <div class="flex justify-center gap-4">
          <a href="https://www.facebook.com/INGEMMET " target="_blank"
            ><img
              src="https://img.icons8.com/color/32/000000/facebook-circled--v1.png"
              alt="facebook"
          /></a>
          <a href="https://www.instagram.com/ingemmet.peru/" target="_blank"
            ><img
              src="https://img.icons8.com/color/32/000000/instagram-new--v1.png"
              alt="instagram"
          /></a>
          <a href="https://twitter.com/ingemmetperu" target="_blank"
            ><img
              src="https://img.icons8.com/color/32/000000/twitter-circled--v1.png"
              alt="twitter"
          /></a>
          <a href="https://youtube.com/user/IngemmetTV" target="_blank"
            ><img
              src="https://img.icons8.com/fluency/32/000000/youtube-play.png"
              alt="youtube"
          /></a>
          <a
            href="https://www.linkedin.com/company/ingemmetperu/"
            target="_blank"
            ><img
              src="https://img.icons8.com/color/32/000000/linkedin-circled--v1.png"
              alt="linkedin"
          /></a>
        </div>

        <div class="grid grid-cols-1 mt-3">
          <ngx-twitter-timeline
            [data]="{
              sourceType: 'url',
              url: 'https://twitter.com/IngemmetPeru'
            }"
            [opts]="{
              tweetLimit: 5,
              height: 370,
              borderColor: '#2E88EE'
            }"
          >
          </ngx-twitter-timeline>
        </div>
      </div>
      <div>
        <h4 class="text-xl font-bold my-2">ULTIMAS NOTICIAS</h4>
        <div class="grid grid-cols-1 gap-4">
          <a
            *ngFor="let item of redessociales"
            href="#"
            class="underline font-semibold"
          >
            <span class="text-red-500 text-xs font-semibold mr-2">{{
              item.hora
            }}</span>
            {{ item.texto }}
          </a>
        </div>
      </div>
      <div>
        <div class="h-96 overflow-hidden">
          <img class="h-full w-auto" src="assets/img/imagen.jpg" alt="" />
        </div>
        <p class="mt-2 text-sm">Ingemmet psrticipó en presentación</p>
      </div>
    </div>
  </div>
</div>
