<div class="p-0" id="CompuTable">
  <app-carousel></app-carousel>

  <div class="row mt-3">
    <div class="col-lg-6">
      <app-aplicaciones-card></app-aplicaciones-card>

      <div class="row">
        <div class="col-lg-6 ">
          <app-noticias-card></app-noticias-card>
        </div>

        <div class="col-lg-6">

          <ngx-twitter-timeline [data]="{ sourceType: 'url',
              url: 'https://twitter.com/IngemmetPeru',
              screenName: 'IngemmetPeru'}" [opts]="{tweetLimit: 2}"></ngx-twitter-timeline>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <app-video-card></app-video-card>
      <div class="row">

        <div class="col-lg-12">
          <ng-container *ngIf="loadingNoticias">
            <div class="d-flex align-items-center justify-content-center">
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <span class="ml-2">
                Cargando...
              </span>
            </div>
            <!-- <div class="spinner-grow text-primary" role="status"> <span class="visually-hidden">Loading...</span></div> -->
          </ng-container>
          <ng-container *ngIf="!loadingNoticias">

            <ng-container *ngIf="listCumpleanio.length !=0">
              <h4 class="text-xl font-bold my-2">CUMPLEAÑOS</h4>
              <p-carousel [value]="listCumpleanio" [numVisible]="2" [numScroll]="1" [showNavigators]="false"
                [circular]="false" [showIndicators]="false" [autoplayInterval]="7000"
                [responsiveOptions]="responsiveOptions">
                <ng-template let-carousel pTemplate="item">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="card p-1 shadow-sm mr-2" >
                        <div class="image d-flex flex-column justify-content-center align-items-center  pt-2 pb-4">

                          <img src="assets/img/user.png" style="border-radius: 50%;" height="40" width="60" />

                          <span class="name mt-3"> {{carousel.nombre}} {{carousel.apellido}}</span>
                          <span class="idd text-center">{{carousel.cargo}}</span>
                          <span class="idd text-center">{{carousel.departamento}}</span>


                          <div class="px-2 rounded mt-4">
                            <span class="btn btn-light btn-sm">🎂 {{carousel.fecha}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </p-carousel>
            </ng-container>

            <ng-container *ngIf="listTrabajoArray.length !=0">
              <h4 class="text-xl font-bold my-2">NUEVOS TRABAJADORES</h4>
              <p-carousel [value]="listTrabajoArray" [numVisible]="2" [numScroll]="1" [showNavigators]="false"
                [circular]="false" [showIndicators]="false" [autoplayInterval]="7000"
                [responsiveOptions]="responsiveOptions">
                <ng-template let-carousel pTemplate="item">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="card p-1 shadow-sm mr-2">
                        <div class="image d-flex flex-column justify-content-center align-items-center  pt-2 pb-4">

                          <img src="assets/img/user.png" style="border-radius: 50%;" height="60" width="60" />

                          <span class="name mt-3"> {{carousel.nombre}} {{carousel.apellido}}</span>
                          <span class="idd text-center">{{carousel.correo}}</span>
                          <span class="idd text-center">{{carousel.cargo}}</span>

                          <div class="px-2 rounded mt-4">
                            <span class="btn btn-success  btn-sm">{{carousel.fecha}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </p-carousel>
            </ng-container>

          </ng-container>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="p-0" id="CelularTable">
  <app-carousel></app-carousel>

  <div class="row mt-3">
    <div class="col-lg-6">
      <app-aplicaciones-card></app-aplicaciones-card>
    </div>
    <div class="col-lg-6">
      <app-video-card></app-video-card>
    </div>
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-3  mb-4">
          <app-noticias-card></app-noticias-card>
        </div>

        <div class="col-lg-3">

          <ngx-twitter-timeline [data]="{ sourceType: 'url',
              url: 'https://twitter.com/IngemmetPeru',
              screenName: 'IngemmetPeru'}" [opts]="{tweetLimit: 2}"></ngx-twitter-timeline>
        </div>

        <div class="col-lg-6">
          <div class="row">

            <div class="col-lg-12">

              <ng-container *ngIf="loadingNoticias">
                <div class="d-flex align-items-center justify-content-center">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  <span class="ml-2">
                    Cargando...
                  </span>
                </div>
              </ng-container>

              <ng-container *ngIf="!loadingNoticias">

                <ng-container *ngIf="listCumpleanio.length !=0">
                  <h4 class="text-xl font-bold my-2">CUMPLEAÑOS</h4>
                  <p-carousel [value]="listCumpleanio" [numVisible]="2" [numScroll]="1" [showNavigators]="false"
                    [circular]="false" [showIndicators]="false" [autoplayInterval]="7000"
                    [responsiveOptions]="responsiveOptions">
                    <ng-template let-carousel pTemplate="item">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="card p-1 shadow-sm mr-2" >
                            <div class="image d-flex flex-column justify-content-center align-items-center  pt-2 pb-4">
    
                              <img src="assets/img/user.png" style="border-radius: 50%;" height="40" width="60" />
    
                              <span class="name mt-3"> {{carousel.nombre}} {{carousel.apellido}}</span>
                              <span class="idd text-center">{{carousel.cargo}}</span>
                              <span class="idd text-center">{{carousel.departamento}}</span>
    
    
                              <div class="px-2 rounded mt-4">
                                <span class="btn btn-light btn-sm">🎂 {{carousel.fecha}}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </p-carousel>
                </ng-container>
    
                <ng-container *ngIf="listTrabajoArray.length !=0">
                  <h4 class="text-xl font-bold my-2">NUEVOS TRABAJADORES</h4>
                  <p-carousel [value]="listTrabajoArray" [numVisible]="2" [numScroll]="1" [showNavigators]="false"
                    [circular]="false" [showIndicators]="false" [autoplayInterval]="7000"
                    [responsiveOptions]="responsiveOptions">
                    <ng-template let-carousel pTemplate="item">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="card p-1 shadow-sm mr-2">
                            <div class="image d-flex flex-column justify-content-center align-items-center  pt-2 pb-4">
    
                              <img src="assets/img/user.png" style="border-radius: 50%;" height="60" width="60" />
    
                              <span class="name mt-3"> {{carousel.nombre}} {{carousel.apellido}}</span>
                              <span class="idd text-center">{{carousel.correo}}</span>
                              <span class="idd text-center">{{carousel.cargo}}</span>
    
                              <div class="px-2 rounded mt-4">
                                <span class="btn btn-success  btn-sm">{{carousel.fecha}}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </p-carousel>
                </ng-container>

              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>



</div>

<ng-container *ngIf="popup.length !=0">


  <p-dialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '50vw'}" [(visible)]="display">


    <div class="card mt-5" *ngFor="let itemHijo of popup">
      <div class="card-body">
        <div [innerHTML]="itemHijo.textohtml"></div>
      </div>
    </div>

  </p-dialog>
</ng-container>
