:root {
  --bs-primary-rgb: #053d56;
  --bs-body-font-size: 0.85rem;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: red;
}

.bg-primary {
  background-color: var(--bs-primary-rgb) !important;
}

.w-sidebar {
  width: 18rem;
}

.avatar {
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  background: white;
}

.my-05 {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
}

.f-7 {
  font-size: 0.85rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}
