@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --bs-primary-active: #1972a4;
  --bs-gray: #e5e5e5;
  --bs-primary: #053d56;
  --bs-body-font-size: 0.85rem;

  --bs-blue-ingemmet: #1972a4;
  --bs-blue-birthday: #3584af;
  --bs-blue-button: #4b6778;
  --bs-body-gray: #ddded8;
  --bs-red: #de2f2f;
  --bs-green: #b4cf2a;
  --bs-text-color: #186491;
  --bs-lightblue: #d5edf9;

  --bs-blue-ingemmet-rgb: 25, 114, 164;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  // overflow-x: hidden;
}

.h1,
h1 {
  font-size: 2.5rem;
}
.h2,
h2 {
  font-size: 2rem;
}
.h3,
h3 {
  font-size: 1.75rem;
}
.h4,
h4 {
  font-size: 1.5rem;
}
.h5,
h5 {
  font-size: 1.25rem;
}
.h6,
h6 {
  font-size: 1rem;
}

.small,
small {
  font-size: 80%;
  font-weight: 400;
}
strong {
  font-weight: bolder;
}

.bg-primary {
  background-color: var(--bs-blue-ingemmet) !important;
}

.bg-prmary-1 {
  background-color: var(--bs-blue-birthday) !important;
}

.fc-button-primary {
  background-color: var(--bs-blue-ingemmet) !important;
  border-color: var(--bs-blue-ingemmet) !important;
  color: white !important;
}

.button-ingemmet {
  color: #ffffff;
  background: var(--bs-blue-button);
  border: 1px solid var(--bs-blue-ingemmet);
}

.fc.fc-theme-standard
  .fc-toolbar
  .fc-button.fc-dayGridMonth-button.fc-button-active,
.fc.fc-theme-standard
  .fc-toolbar
  .fc-button.fc-timeGridWeek-button.fc-button-active,
.fc.fc-theme-standard
  .fc-toolbar
  .fc-button.fc-timeGridDay-button.fc-button-active {
  background-color: var(--bs-blue-ingemmet) !important;
  border-color: var(--bs-blue-ingemmet) !important;
  color: white !important;
}

.bg-primary-gradient {
  background-color: var(--bs-blue-ingemmet) !important;
  background-image: linear-gradient(
    45deg,
    var(--bs-blue-ingemmet) 10%,
    var(--bs-lightblue) 100%
  );
}

.menu-item.active {
  background-color: var(--bs-primary-active) !important;
  color: var(--bs-lightblue);
}

.bg-gray {
  background-color: var(--bs-body-gray);
}

.bg-text-color {
  color: var(--bs-text-color);
}

.bg-gradient-2 {
  background-color: var(--bs-blue-birthday);
  background-image: linear-gradient(
    0deg,
    var(--bs-blue-birthday) 0%,
    var(--bs-blue-ingemmet) 50%,
    var(--bs-blue-birthday) 100%
  );
}

.justify-text {
  text-align: justify;
}

.bg-color1 {
  background-color: var(--bs-lightblue);
}

.bg-degrade {
  background-color: #07aadb;
  background-image: linear-gradient(
    90deg,
    #07aadb 0%,
    var(--bs-blue-ingemmet) 100%
  );
}

.bg-degrade2 {
  background-color: #324575;
  background-image: linear-gradient(
    90deg,
    #324575 0%,
    var(--bs-blue-ingemmet) 100%
  );
}

.text-degrade {
  display: inline-block;
  color: #000;
  background: #fff;
  mix-blend-mode: multiply;
  position: relative;
}

.text-degrade:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #07aadb 0%, #02506f 100%);
  mix-blend-mode: screen;
  position: absolute;
  top: 0;
  left: 0;
}

.app-degrade {
  background-color: #066a9e;
  background-image: linear-gradient(45deg, #066a9e 0%, #10b7e6 100%);
}

.w-sidebar {
  width: 18rem !important;
}

.w-main-container {
  width: calc(100% - 18rem);
}

.avatar {
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  background: white;
}

.my-05 {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
}

.f-7 {
  font-size: 0.85rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.truncate-2 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

// modificar carousel

app-carousel {
  .p-carousel-content {
    position: relative;

    .p-carousel-prev,
    .p-carousel-next {
      position: absolute;
      width: 3rem !important;
      height: 3rem !important;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      border-radius: 50% !important;
      // background: rgb(var(--bs-blue-ingemmet-rgb), 0.15) !important;
      border: 1px solid rgb(var(--bs-blue-ingemmet-rgb), 0.25) !important;
      bottom: calc(50% - 1.5rem);
      z-index: +1;

      span {
        margin-top: 2px;
        width: 1rem !important;
        height: 1rem !important;
        color: white;
      }
    }

    .p-carousel-prev {
      left: 20px;
    }

    .p-carousel-next {
      right: 20px;
    }

    .p-carousel-indicators {
      position: absolute;
      bottom: 2rem;
      left: 0;
      right: 0;

      .p-carousel-indicator {
        button {
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 50%;
          border: none !important;
        }
        &.p-highlight button {
          background-color: var(--bs-blue-ingemmet);
        }
      }
    }
  }
}
// .p-tabview .p-tabview-nav li .p-tabview-nav-link {
//   font-size: 12px;
// }
// .p-tabview-nav {
//   background: #00649b !important;
// }
// .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
//   background: #ffffff !important;
//   color: #00649b !important;
//   border-radius: 0px !important;
//   padding: 10px 25px !important;
// }
// .p-tabview .p-tabview-nav li .p-tabview-nav-link {
//   border: solid #dee2e6;
//   border-width: 0 0 2px 0;
//   border-color: transparent transparent #dee2e6 transparent;
//   background: #ffffff00 !important;
//   color: #ffffff !important;
//   padding: 0.6rem !important;
// }

.p-tabview {
  font-size: 0.85rem !important;

  .p-tabview-nav {
    background: #ffffff;
    // background: #00649b !important;
    border: 1px solid #00649b;
    border-width: 0 0 2px 0 !important;
  }
  .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: #ffffff !important;
    border-color: #00649b !important;
    text-decoration: none !important;
    color: #00649b !important;
  }
  .p-tabview-nav {
    li .p-tabview-nav-link:hover {
      cursor: pointer !important;
      text-decoration: none !important;
      // background: #00649b !important;
      color: #00649b !important;
    }

    li .p-tabview-nav-link {
      // border: 1px solid #00649b;
      border-width: 0.5px 1px 2px 1px !important;
      border-color: #00649b #00649b #00649b #00649b !important;
      background: #00649b;
      color: #ffffff;
      padding: 0.5rem 1rem;
      font-weight: 600;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      transition: box-shadow 0.2s;
      margin: 0 4px -2px 4px;
    }
  }
  .p-tabview-nav
    li:not(.p-highlight):not(.p-disabled):hover
    .p-tabview-nav-link {
    background: #ffffff;
    border-color: #00649b;
    text-decoration: none !important;
    color: #6c757d;
  }
}

// .p-tree {
//   border: 0px solid #cee9ff !important;
// }

.p-tree {
  .p-treenode-icon {
    display: none;
  }
}
