:root {
  --bs-primary-active: #bbd3df;
  --bs-primary: #053d56;
  --bs-body-font-size: 0.85rem;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.bg-primary {
  background-color: #053d56;
  background-image: linear-gradient(45deg, #053d56 30%, #80d0c7 100%);
}

.bg-white.active {
  background-color: var(--bs-primary-active) !important;
}

.w-sidebar {
  width: 18rem !important;
}

.w-main-container {
  width: calc(100% - 18rem) !important;
}

.avatar {
  width: 8rem;
  height: 8rem;
  border-radius: 100%;
  background: white;
}

.my-05 {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
}

.f-7 {
  font-size: 0.85rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}
