<section class="section dashboard">

  <div class="container-fluid p-1 m-1">
    <div class="row">
      <div class="col-xxl-3 col-md-3" *ngFor="let app of listApp">
        <div class="card info-card sales-card p-2" >

          <div class="card-body">
            <ng-container *ngIf="app.idSistema != null">
              <!--(click)="Aplicaciones(app)""-->
              <a  href="{{app.urlSistema}}"  target="_blank">
                <div class="row" >
                    <div class="col-lg-12">
                      <div class="align-items-center" >
                        <div   class="card-icon rounded-circle d-flex align-items-center justify-content-center"  style="margin: auto"> 
                            <img src="https://cdn-icons-png.flaticon.com/512/4795/4795825.png" width="50" alt="">
                        </div>
                      </div>
                      <strong class="text-center mt-2" style="display:block ;">{{app.codSistema}}</strong>
                    </div>
                </div>
              </a>
            </ng-container>
            
            <ng-container *ngIf="app.idSistema == null">
              <div class="row" >
                <div class="col-lg-12">
                  <div class="align-items-center" [routerLink]="app.urlSistema" pTooltip="{{app.descSistema}}" >
                    <div   class="card-icon rounded-circle d-flex align-items-center justify-content-center"  style="margin: auto"> 
                        <i  class="{{app.imagen}}"></i>
                    </div>
                  </div>
                  <strong class="text-center mt-2" style="display:block ;">{{app.codSistema}}</strong>
                </div>
             </div>
            </ng-container>
            
          </div>
        </div>
    </div>
    </div>
  </div>
</section>